* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: row;
}

.pad {
    background: #fda085;
    height: 5rem;
    width: 5rem;
    margin: 1rem;
}

.pad.active {
    background: #ff6f47;
}

@keyframes animation {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
    }
}