:root {
	--primary: #ddd;
	--dark: #333;
	--light: #fff;
	--shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
	--grey: #ccc;
	--gradientA: #f6d365;
	--gradientB: #fda085;
	--buttonBackground: #ff6f47;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	background: var(--primary);
}

