:root {
	--primary: #ddd;
	--dark: #17181a;
	--light: #fff;
	--shadow: 0 2px 10px rgba(192, 246, 138, 0.8);
	--grey: #ccc;
	--lightGrey: #cccccc;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: var(--lightGrey);
	position: relative;
	font-family: sans-serif;
}

.jeden, .dwa, .trzy{
	margin: auto;
	margin-top: 10px;
	height: 350px;
	width: 350px;
	border: 1px solid white;
}
.intro video{
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.intro h1{
	position: absolute;
	top: 5%;
	left: 50%;
	transform: translate(-50%,-50%);
}
